@import url(global-var.css);

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    background-color: var(--white);
    background-image: url("../../resource/img/cn_tower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 606px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--blue);
}

.submit-button {
    transition-property: color, background-color, transform;
    transition-duration: 2s, 2s, 0.5s;
    color: var(--black);
    background-color: var(--red);
}

.submit-button:hover {
    opacity: 90%;
    cursor: pointer;
    color: var(--red);
    background-color: var(--black);
    transform: scale(1.5);
}

#me-photo {
    float: left;
    margin: 0 10px 10px 0;
}

#skills-table {
    clear: both;
}

table th {
    border: 2px solid var(--black);
    padding: 4px 10px;;
}

.grid {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
}

@media only screen and (max-width: 950px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 28px;
        color: var(--orange);
    }
}

@media only screen and (max-width: 680px) {
    .grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 24px;
        color: var(--red);
    }
}

.grid-item {
    text-align: center;
    padding: 10px;
    background-color: var(--azure);
    min-width: 90%;
    min-height: 100px;
    border: 5px solid var(--blue);
}
