@import url(global-var.css);

header {
    margin-bottom: 12px;
    font-size: 48;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    list-style-type: none;
    background-color: var(--grey);
}

.nav-item {
    display: flex;
    transition-property: font-size;
    transition-duration: 2s;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--chocolate);
    font-size: 24px;
}

.nav-item a {
    transition: color;
    transition-duration: 2s;
    color: var(--blue);
}

.nav-item a:visited {
    color: var(--chartreuse);
}

.nav-item a:active {
    color: var(--black);
}

.nav-item a:focus {
    color: var(--violet);
}

.nav-item a::selection {
    color: var(--yellow);
}
